page-destaque {
  .trofeu{
    width: auto;
    margin: auto;
    display: block;
    max-width: 40%;
}
.destaqueMes{
  color: #488aff;
  font-weight: bolder;
  background: none;
  text-align: center;
  a{
      color: #488aff;
  };
  
}
.textos{
  color: #000000;
  font-weight: bolder;
  background: none;
  text-align: center;
  a{
      color: #000000;
  };
} 
}
