page-marca-produto {
    .celular-na-mao{
        width: auto;
        margin: auto;
        display: block;
        max-width: 100%;
    }
    .bold-title{
        font-size: inherit;
        font-weight: bold;
        color: #007fff;

    }
    .textos{
        color: #488aff;
        background: none;
        text-align: center;
        a{
            color: #488aff;
        }
    }
    .botao{
        text-align: center;
    }

}
