page-modelo-produto {
    .bold-title{
        font-size: inherit;
        font-weight: bold;
        color: #007fff;

    }
    .textos{
        color: #488aff;
        background: none;
        text-align: center;
        a{
            color: #488aff;
        }
    }
}
